/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/
@import "node_modules/foundation-sites/assets/foundation";

$background: #006666;


.login-container-img{
   height: 70%;
   width: 70%;
}
.login{
 padding-top: 200px;

}
body{
 padding: 20px;
}
.button {
 background-color: $background;
}
.button:hover,
.button:focus {
 background-color: darken($background, 5%);
}

.header {
 padding: 10rem 0;
 background: url('http://placehold.it/2000x500&text=this is a header') center center no-repeat;
 background-size: cover;
}

[data-sticky] {
 width: 100%;
}

.top-bar {
 padding: 2rem;
 transition: padding .25s ease;
}

.is-stuck .top-bar {
 padding: 1rem;
 transition: padding .25s ease;
}
